    <header>
        <div class="d-flex justify-content-between align-items-center" style="background-color: rgb(74, 73, 73); height: 50px;">
        <div class="d-flex align-items-center" style="padding-left: 10px;">
            <div style="color: white; font-size: 20px;">Movie Shop</div>
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color: rgba(177, 177, 177, 0.545);">Genres</button>
        </div>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color: rgba(177, 177, 177, 0.545); padding-right: 10px;">User</button>
        </div>
    </header>
